RESERVATION_SERVICE_PORT=8081
RESERVATION_DB_URL=jdbc:postgresql://localhost:5433/reservation_db
RESERVATION_DB_USER=reservation
RESERVATION_DB_PASSWORD=reservation
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=app
RABBITMQ_PASSWORD=app
